@font-face {
  font-family: "RobotoMono-Bold";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Italic";
  src: url("../fonts/obotoMono-Itali.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Light";
  src: url("../fonts/RobotoMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-LightItalic";
  src: url("../fonts/RobotoMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Medium";
  src: url("../fonts/RobotoMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-MediumItalic";
  src: url("../fonts/RobotoMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Thin";
  src: url("../fonts/RobotoMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-ThinItalic";
  src: url("../fonts/RobotoMono-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url("../fonts/IBMPlexMono-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-BoldItalic";
  src: url("../fonts/IBMPlexMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLight";
  src: url("../fonts/IBMPlexMono-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ExtraLightItalic";
  src: url("../fonts/IBMPlexMono-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Italic";
  src: url("../fonts/IBMPlexMono-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("../fonts/IBMPlexMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-LightItalic";
  src: url("../fonts/IBMPlexMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url("../fonts/IBMPlexMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-MediumItalic";
  src: url("../fonts/IBMPlexMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url("../fonts/IBMPlexMono-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-SemiBoldItalic";
  src: url("../fonts/IBMPlexMono-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url("../fonts/IBMPlexMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "IBMPlexMono-ThinItalic";
  src: url("../fonts/IBMPlexMono-ThinItalic.ttf") format("truetype"); }
