@font-face {
  font-family: "RobotoMono-Bold";
  src: url("app/libs/fonts/fontname.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url("app/libs/fonts/RobotoMono-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Italic";
  src: url("app/libs/fonts/RobotoMono-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Light";
  src: url("app/libs/fonts/RobotoMono-Light.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-LightItalic";
  src: url("app/libs/fonts/RobotoMono-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Medium";
  src: url("app/libs/fonts/RobotoMono-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-MediumItalic";
  src: url("app/libs/fonts/RobotoMono-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Regular";
  src: url("app/libs/fonts/RobotoMono-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-Thin";
  src: url("app/libs/fonts/RobotoMono-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMono-ThinItalic";
  src: url("app/libs/fonts/RobotoMono-ThinItalic.ttf") format("truetype"); }
